body {
    overflow: hidden;
    margin: 0;
}

.container-fluid {
    padding: 0;
}


.mask_page404 {
    height: 100vh;
    width: 100vw;
    background-color: #333039;
}

.page404 {
    padding: 5%;
    height: 100vh;
    width: 100vw;
    background: url(../../img/404.png);
    position: absolute;

    background-repeat: no-repeat;
    background-position: center;
}

.page404 p {
    text-align: center;
    color: #fff;
    font-size: 4vh;
}

.page404_link {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;

}

.page404_link a {

    color: #fff;
    font-size: 5vh;
    position: absolute;
    top: 80vh;


}


.page404_link a:hover {
    color: #aad0d2;
    transition: ease-in-out 0.2s;
}